.gridContainer {
    width: 100%;
    display:grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-auto-rows: 130px;
    margin: 5px;
}

.gridContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(180, 131, 180);
    color: aliceblue;
    border-radius: 5px;
    /* cursor: pointer; */
}

.gridContainer div:hover {
    background-color: rgb(180, 105, 180);

}