
.loginForm_v2 {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

.loginForm_v2 > input {
    margin: 4px;
}

.loginForm_v2 > Button {
    background-color: #006cd0;
}
.loginForm_v2 > Button:hover {
    background-color: #03265A;
}
